{% extends 'client/base.html.twig' %}
{% block bodyPanel %}
    <div class="content content--block animated fadeIn">
        <div class="container">
            {{ form_start(form, {'attr': {'class': 'profile-form'}}) }}
            <div class="row">
                <div class="col">
                    {{ form_row(form.title) }}
                </div>
                <div class="col">
                    {{ form_row(form.url) }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ form_row(form.scrapeText) }}
                </div>
                <div class="col">
                </div>
            </div>
            <div class="row">
                <div class="line"></div>
            </div>
            <div class="row d-flex justify-content-between mt-4 mb-md-0">
                <div class="col d-flex mt-4 mb-md-0">
                    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
                </div>
                <div class="col d-flex justify-content-end mt-4 mb-md-0">
                    <a href="{{ path('link_list') }}" class="btn btn-secondary">
                        {{ 'back'|trans }}
                    </a>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock bodyPanel %}